.my-card{
    border: 0;
}
.panda-card-footer{
    background-color: white;
    border: 0;
}
.catagories{
    padding: 5%;
    
}
.catagories img{
    width: 90px;
}
.panda-slide .carousel-item{
    background-color: #fceae8;
    border-radius: 1em;

}